.vscode/
__pycache__/
checkpoints/
experiments/
clip/bpe_simple_vocab_16e6.txt.gz
face_pred
face_pred/*
out/
output/
others/
others/SPoTr/
others/Segment-Everything-Everywhere-All-At-Once/
others/PointStack/data/
others/PointStack/experiments/
others/PointStack/pretrained/
others/PointStack/ckpt_model_only.pth
others/pointMLP-pytorch/part_segmentation/checkpoints/
others/PartSLIP/distill_data/
others/PartSLIP/examples/
others/PartSLIP/log
others/PartSLIP/models/
others/PartSLIP/viz/
others/PartSLIP/partslip_data/
others/PartSLIP/output_temp/
others/GLIP/
others/checkpoints/
others/Point-NN
others/SATR/data
pretrained/
try/
unused/
viz/
multimodal_distillation_3090_1.code-workspace
multimodal_distillation_a5000.code-workspace
partdistill.code-workspace